
<div class="container-fluid top-container top-registration-container">

</div>

<main class="container" ng-if="!$ctrl.emailSent">
    <div class="login-general-container">
        <form name="forgotPassword" ng-submit="$ctrl.forgotPassword()" ng-if="!$ctrl.emailSent">
            <article class="login-body">
                <h4 class="login-tittle">
                    Forgot password
                </h4>
                <br />
                <span class="login-text">
                    We'll help you remember your password
                </span>
                <br />
                <input ng-model="$ctrl.forgotMail.email" name="email" type="email" required class="general-input" placeholder="Email" />
                <div ng-messages="forgotPassword.email.$error" ng-if="forgotPassword.email.$touched">
                    <p class="error" ng-message="email">Please select correct email</p>
                    <p class="error" ng-message="required">Email is required.</p>
                </div>
            </article>
            <div class="login-footer">
                <button type="submit" ng-disabled="forgotPassword.$invalid" class="btn btn-blue btn-custom btn-login pull-right">
                    Send
                </button>
            </div>
        </form>
    </div>
</main>


<main class="container" ng-if="$ctrl.emailSent">
    <div class="login-general-container">
        <article class="login-body">
            <h4 class="login-tittle">
                Forgot password
            </h4>
            <br />
            <span class="login-text">
                Pleace check email to activate and reset your password
            </span>
        </article>
        <div class="login-footer">
            <button class="btn btn-blue btn-custom btn-login pull-right" ui-sref="home">
                Go to home
            </button>
        </div>
    </div>
</main>