

<div class="container-fluid top-container top-registration-container">
    <div class="container">
    </div>
</div>

<main class="container">
    <div class="login-general-container">
        <form class="reset-password-form" name="resetPassword" ng-submit="$ctrl.resetPassword()">
            <article class="login-body">
                <h4 class="login-tittle">
                    Forgot password
                </h4>
                <br />
                <span class="login-text">
                    Pleace enter your new password
                </span>
                <br />
                <input class="general-input" placeholder="New password" ng-model="$ctrl.resetPasswordModel.password" autocomplete="off" ng-minlength="6" name="password" type="password" required />
                <div ng-messages="resetPassword.password.$error" ng-if="resetPassword.password.$touched">
                    <p class="error" ng-message="minlength">Minimum of 6 characters</p>
                    <p class="error" ng-message="required">Password is required.</p>
                </div>

                <input class="general-input" placeholder="Confirm new password" ng-model="$ctrl.resetPasswordModel.confirmedPassword" autocomplete="off" ng-minlength="6" name="confirmedPassword" type="password" required  />
                <div ng-messages="resetPassword.confirmedPassword.$error" ng-if="resetPassword.confirmedPassword.$touched">
                    <p class="error" ng-message="minlength">Minimum of 6 characters</p>
                    <p class="error" ng-message="required">Password is required.</p>
                </div>
                <p class="error" ng-if="resetPassword.confirmedPassword.$touched && $ctrl.resetPasswordModel.confirmedPassword != $ctrl.resetPasswordModel.password">Passwords do not match</p>
            </article>
            <div class="login-footer">
                <button class="btn btn-blue btn-custom btn-login pull-right" ng-disabled="resetPassword.$invalid">
                    Send
                </button>
            </div>
        </form>
    </div>
</main>