<div ng-show="$ctrl.isLoading">
    <div class="cssload-loader-container cssload-abs-center loading">
        <div class="cssload-olympicloader">
            <i class="cssload-loader-circle cssload-first"></i>
            <i class="cssload-loader-circle cssload-second"></i>
            <i class="cssload-loader-circle cssload-third"></i>
            <i class="cssload-loader-circle cssload-fourth"></i>
            <i class="cssload-loader-circle cssload-fifth"></i>
        </div>
    </div>
</div>

